RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.armorylite.com$ [NC]
RewriteRule ^(.*)$ http://armorylite.com/$1 [R=301,L]

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
