php_flag zlib.output_compression on
php_value zlib.output_compression_level 2

#Header unset ETag
#FileETag None
 
ExpiresActive On
ExpiresByType image/gif A2592000
ExpiresByType image/png A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/jpeg A2592000

RedirectMatch 403 /\.svn.*$
RedirectMatch 403 /\src.*$
ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 500 /error.php
ErrorDocument 404 /error.php

Options -Indexes
Options +FollowSymlinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www.armorylite.com$ [NC]
RewriteRule ^(.*)$ http://armorylite.com/$1 [R=301,L]

RewriteRule ^us/(.+)/(.+)/force/(.+)/$ /armorylite.php?z=us&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/force/(.+)$ /armorylite.php?z=us&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/style/(.+)/$ /armorylite.php?z=us&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/style/(.+)$ /armorylite.php?z=us&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/my/(.+)/$ /armorylite.php?z=us&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/my/(.+)$ /armorylite.php?z=us&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/n/(.+)/$ /armorylite.php?z=us&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/n/(.+)$ /armorylite.php?z=us&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/n/$ /armorylite.php?z=us&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/n$ /armorylite.php?z=us&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/v/(.+)/$ /armorylite.php?z=us&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/v/(.+)$ /armorylite.php?z=us&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/v/$ /armorylite.php?z=us&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/v$ /armorylite.php?z=us&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/a/$ /armorylite.php?z=us&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/a$ /armorylite.php?z=us&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/g/(.+)/$ /armorylite.php?z=us&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/g/(.+)$ /armorylite.php?z=us&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/g/$ /armorylite.php?z=us&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/g$ /armorylite.php?z=us&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/r/$ /armorylite.php?z=us&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/r$ /armorylite.php?z=us&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/s/$ /armorylite.php?z=us&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/s$ /armorylite.php?z=us&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/t/$ /armorylite.php?z=us&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/t$ /armorylite.php?z=us&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/donate/$ /armorylite.php?z=us&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/donate$ /armorylite.php?z=us&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/anonymize/$ /armorylite.php?z=us&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/anonymize$ /armorylite.php?z=us&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)/$ /armorylite.php?z=us&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/(.+)$ /armorylite.php?z=us&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^us/(.+)/$ /gobrowse.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^us/(.+)$ /gobrowse.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^us/$ /gobrowse.php?z=us&r=* [L,QSA,NC]
RewriteRule ^us$ /gobrowse.php?z=us&r=* [L,QSA,NC]
RewriteRule ^browse/us/(.+)/(.+)/(.+)/$ /gobrowse.php?z=us&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/us/(.+)/(.+)/(.+)$ /gobrowse.php?z=us&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/us/(.+)/(.+)/$ /gobrowse.php?z=us&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/us/(.+)/(.+)$ /gobrowse.php?z=us&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/us/(.+)/$ /gobrowse.php?z=us&r=$1&s=0 [L,QSA,NC]
RewriteRule ^browse/us/(.+)$ /gobrowse.php?z=us&r=$1&s=0 [L,QSA,NC]
RewriteRule ^score/us/(.+)/(.+)/$ /gearscore.php?z=us&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/us/(.+)/(.+)$ /gearscore.php?z=us&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/us/(.+)/$ /gearscore.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^score/us/(.+)$ /gearscore.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^score/us/$ /gearscore.php?z=us&r=all [L,QSA,NC]
RewriteRule ^score/us$ /gearscore.php?z=us&r=all [L,QSA,NC]
RewriteRule ^stats/us/(.+)/(.+)/$ /gostats.php?z=us&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/us/(.+)/(.+)$ /gostats.php?z=us&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/us/(.+)/$ /gostats.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^stats/us/(.+)$ /gostats.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^stats/us/$ /gostats.php?z=us&r=all [L,QSA,NC]
RewriteRule ^stats/us$ /gostats.php?z=us&r=all [L,QSA,NC]
RewriteRule ^search/us/(.+)/$ /gosearch.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^search/us/(.+)$ /gosearch.php?z=us&r=$1 [L,QSA,NC]
RewriteRule ^search/us/$ /gosearch.php?z=us&r=all [L,QSA,NC]
RewriteRule ^search/us$ /gosearch.php?z=us&r=all [L,QSA,NC]

RewriteRule ^eu/(.+)/(.+)/force/(.+)/$ /armorylite.php?z=eu&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/force/(.+)$ /armorylite.php?z=eu&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/style/(.+)/$ /armorylite.php?z=eu&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/style/(.+)$ /armorylite.php?z=eu&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/my/(.+)/$ /armorylite.php?z=eu&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/my/(.+)$ /armorylite.php?z=eu&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/n/(.+)/$ /armorylite.php?z=eu&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/n/(.+)$ /armorylite.php?z=eu&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/n/$ /armorylite.php?z=eu&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/n$ /armorylite.php?z=eu&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/v/(.+)/$ /armorylite.php?z=eu&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/v/(.+)$ /armorylite.php?z=eu&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/v/$ /armorylite.php?z=eu&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/v$ /armorylite.php?z=eu&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/a/$ /armorylite.php?z=eu&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/a$ /armorylite.php?z=eu&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/g/(.+)/$ /armorylite.php?z=eu&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/g/(.+)$ /armorylite.php?z=eu&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/g/$ /armorylite.php?z=eu&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/g$ /armorylite.php?z=eu&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/r/$ /armorylite.php?z=eu&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/r$ /armorylite.php?z=eu&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/s/$ /armorylite.php?z=eu&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/s$ /armorylite.php?z=eu&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/t/$ /armorylite.php?z=eu&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/t$ /armorylite.php?z=eu&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/donate/$ /armorylite.php?z=eu&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/donate$ /armorylite.php?z=eu&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/anonymize/$ /armorylite.php?z=eu&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/anonymize$ /armorylite.php?z=eu&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)/$ /armorylite.php?z=eu&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/(.+)$ /armorylite.php?z=eu&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^eu/(.+)/$ /gobrowse.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^eu/(.+)$ /gobrowse.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^eu/$ /gobrowse.php?z=eu&r=* [L,QSA,NC]
RewriteRule ^eu$ /gobrowse.php?z=eu&r=* [L,QSA,NC]
RewriteRule ^browse/eu/(.+)/(.+)/(.+)/$ /gobrowse.php?z=eu&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/eu/(.+)/(.+)/(.+)$ /gobrowse.php?z=eu&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/eu/(.+)/(.+)/$ /gobrowse.php?z=eu&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/eu/(.+)/(.+)$ /gobrowse.php?z=eu&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/eu/(.+)/$ /gobrowse.php?z=eu&r=$1&s=0 [L,QSA,NC]
RewriteRule ^browse/eu/(.+)$ /gobrowse.php?z=eu&r=$1&s=0 [L,QSA,NC]
RewriteRule ^score/eu/(.+)/(.+)/$ /gearscore.php?z=eu&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/eu/(.+)/(.+)$ /gearscore.php?z=eu&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/eu/(.+)/$ /gearscore.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^score/eu/(.+)$ /gearscore.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^score/eu/$ /gearscore.php?z=eu&r=all [L,QSA,NC]
RewriteRule ^score/eu$ /gearscore.php?z=eu&r=all [L,QSA,NC]
RewriteRule ^stats/eu/(.+)/(.+)/$ /gostats.php?z=eu&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/eu/(.+)/(.+)$ /gostats.php?z=eu&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/eu/(.+)/$ /gostats.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^stats/eu/(.+)$ /gostats.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^stats/eu/$ /gostats.php?z=eu&r=all [L,QSA,NC]
RewriteRule ^stats/eu$ /gostats.php?z=eu&r=all [L,QSA,NC]
RewriteRule ^search/eu/(.+)/$ /gosearch.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^search/eu/(.+)$ /gosearch.php?z=eu&r=$1 [L,QSA,NC]
RewriteRule ^search/eu/$ /gosearch.php?z=eu&r=all [L,QSA,NC]
RewriteRule ^search/eu$ /gosearch.php?z=eu&r=all [L,QSA,NC]

RewriteRule ^kr/(.+)/(.+)/force/(.+)/$ /armorylite.php?z=kr&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/force/(.+)$ /armorylite.php?z=kr&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/style/(.+)/$ /armorylite.php?z=kr&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/style/(.+)$ /armorylite.php?z=kr&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/my/(.+)/$ /armorylite.php?z=kr&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/my/(.+)$ /armorylite.php?z=kr&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/n/(.+)/$ /armorylite.php?z=kr&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/n/(.+)$ /armorylite.php?z=kr&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/n/$ /armorylite.php?z=kr&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/n$ /armorylite.php?z=kr&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/v/(.+)/$ /armorylite.php?z=kr&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/v/(.+)$ /armorylite.php?z=kr&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/v/$ /armorylite.php?z=kr&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/v$ /armorylite.php?z=kr&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/a/$ /armorylite.php?z=kr&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/a$ /armorylite.php?z=kr&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/g/(.+)/$ /armorylite.php?z=kr&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/g/(.+)$ /armorylite.php?z=kr&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/g/$ /armorylite.php?z=kr&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/g$ /armorylite.php?z=kr&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/r/$ /armorylite.php?z=kr&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/r$ /armorylite.php?z=kr&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/s/$ /armorylite.php?z=kr&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/s$ /armorylite.php?z=kr&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/t/$ /armorylite.php?z=kr&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/t$ /armorylite.php?z=kr&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/donate/$ /armorylite.php?z=kr&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/donate$ /armorylite.php?z=kr&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/anonymize/$ /armorylite.php?z=kr&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/anonymize$ /armorylite.php?z=kr&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)/$ /armorylite.php?z=kr&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/(.+)$ /armorylite.php?z=kr&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^kr/(.+)/$ /gobrowse.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^kr/(.+)$ /gobrowse.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^kr/$ /gobrowse.php?z=kr&r=* [L,QSA,NC]
RewriteRule ^kr$ /gobrowse.php?z=kr&r=* [L,QSA,NC]
RewriteRule ^browse/kr/(.+)/(.+)/(.+)/$ /gobrowse.php?z=kr&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/kr/(.+)/(.+)/(.+)$ /gobrowse.php?z=kr&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/kr/(.+)/(.+)/$ /gobrowse.php?z=kr&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/kr/(.+)/(.+)$ /gobrowse.php?z=kr&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/kr/(.+)/$ /gobrowse.php?z=kr&r=$1&s=0 [L,QSA,NC]
RewriteRule ^browse/kr/(.+)$ /gobrowse.php?z=kr&r=$1&s=0 [L,QSA,NC]
RewriteRule ^score/kr/(.+)/(.+)/$ /gearscore.php?z=kr&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/kr/(.+)/(.+)$ /gearscore.php?z=kr&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/kr/(.+)/$ /gearscore.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^score/kr/(.+)$ /gearscore.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^score/kr/$ /gearscore.php?z=kr&r=all [L,QSA,NC]
RewriteRule ^score/kr$ /gearscore.php?z=kr&r=all [L,QSA,NC]
RewriteRule ^stats/kr/(.+)/(.+)/$ /gostats.php?z=kr&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/kr/(.+)/(.+)$ /gostats.php?z=kr&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/kr/(.+)/$ /gostats.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^stats/kr/(.+)$ /gostats.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^stats/kr/$ /gostats.php?z=kr&r=all [L,QSA,NC]
RewriteRule ^stats/kr$ /gostats.php?z=kr&r=all [L,QSA,NC]
RewriteRule ^search/kr/(.+)/$ /gosearch.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^search/kr/(.+)$ /gosearch.php?z=kr&r=$1 [L,QSA,NC]
RewriteRule ^search/kr/$ /gosearch.php?z=kr&r=all [L,QSA,NC]
RewriteRule ^search/kr$ /gosearch.php?z=kr&r=all [L,QSA,NC]

RewriteRule ^tw/(.+)/(.+)/force/(.+)/$ /armorylite.php?z=tw&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/force/(.+)$ /armorylite.php?z=tw&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/style/(.+)/$ /armorylite.php?z=tw&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/style/(.+)$ /armorylite.php?z=tw&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/my/(.+)/$ /armorylite.php?z=tw&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/my/(.+)$ /armorylite.php?z=tw&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/n/(.+)/$ /armorylite.php?z=tw&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/n/(.+)$ /armorylite.php?z=tw&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/n/$ /armorylite.php?z=tw&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/n$ /armorylite.php?z=tw&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/v/(.+)/$ /armorylite.php?z=tw&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/v/(.+)$ /armorylite.php?z=tw&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/v/$ /armorylite.php?z=tw&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/v$ /armorylite.php?z=tw&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/a/$ /armorylite.php?z=tw&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/a$ /armorylite.php?z=tw&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/g/(.+)/$ /armorylite.php?z=tw&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/g/(.+)$ /armorylite.php?z=tw&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/g/$ /armorylite.php?z=tw&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/g$ /armorylite.php?z=tw&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/r/$ /armorylite.php?z=tw&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/r$ /armorylite.php?z=tw&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/s/$ /armorylite.php?z=tw&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/s$ /armorylite.php?z=tw&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/t/$ /armorylite.php?z=tw&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/t$ /armorylite.php?z=tw&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/donate/$ /armorylite.php?z=tw&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/donate$ /armorylite.php?z=tw&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/anonymize/$ /armorylite.php?z=tw&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/anonymize$ /armorylite.php?z=tw&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)/$ /armorylite.php?z=tw&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/(.+)$ /armorylite.php?z=tw&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^tw/(.+)/$ /gobrowse.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^tw/(.+)$ /gobrowse.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^tw/$ /gobrowse.php?z=tw&r=* [L,QSA,NC]
RewriteRule ^tw$ /gobrowse.php?z=tw&r=* [L,QSA,NC]
RewriteRule ^browse/tw/(.+)/(.+)/(.+)/$ /gobrowse.php?z=tw&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/tw/(.+)/(.+)/(.+)$ /gobrowse.php?z=tw&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/tw/(.+)/(.+)/$ /gobrowse.php?z=tw&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/tw/(.+)/(.+)$ /gobrowse.php?z=tw&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/tw/(.+)/$ /gobrowse.php?z=tw&r=$1&s=0 [L,QSA,NC]
RewriteRule ^browse/tw/(.+)$ /gobrowse.php?z=tw&r=$1&s=0 [L,QSA,NC]
RewriteRule ^score/tw/(.+)/(.+)/$ /gearscore.php?z=tw&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/tw/(.+)/(.+)$ /gearscore.php?z=tw&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/tw/(.+)/$ /gearscore.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^score/tw/(.+)$ /gearscore.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^score/tw/$ /gearscore.php?z=tw&r=all [L,QSA,NC]
RewriteRule ^score/tw$ /gearscore.php?z=tw&r=all [L,QSA,NC]
RewriteRule ^stats/tw/(.+)/(.+)/$ /gostats.php?z=tw&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/tw/(.+)/(.+)$ /gostats.php?z=tw&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/tw/(.+)/$ /gostats.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^stats/tw/(.+)$ /gostats.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^stats/tw/$ /gostats.php?z=tw&r=all [L,QSA,NC]
RewriteRule ^stats/tw$ /gostats.php?z=tw&r=all [L,QSA,NC]
RewriteRule ^search/tw/(.+)/$ /gosearch.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^search/tw/(.+)$ /gosearch.php?z=tw&r=$1 [L,QSA,NC]
RewriteRule ^search/tw/$ /gosearch.php?z=tw&r=all [L,QSA,NC]
RewriteRule ^search/tw$ /gosearch.php?z=tw&r=all [L,QSA,NC]

RewriteRule ^cn/(.+)/(.+)/force/(.+)/$ /armorylite.php?z=cn&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/force/(.+)$ /armorylite.php?z=cn&p=force&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/style/(.+)/$ /armorylite.php?z=cn&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/style/(.+)$ /armorylite.php?z=cn&p=style&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/my/(.+)/$ /armorylite.php?z=cn&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/my/(.+)$ /armorylite.php?z=cn&p=my&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/n/(.+)/$ /armorylite.php?z=cn&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/n/(.+)$ /armorylite.php?z=cn&p=notes&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/n/$ /armorylite.php?z=cn&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/n$ /armorylite.php?z=cn&p=notes&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/v/(.+)/$ /armorylite.php?z=cn&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/v/(.+)$ /armorylite.php?z=cn&p=achieve&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/v/$ /armorylite.php?z=cn&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/v$ /armorylite.php?z=cn&p=achieve&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/a/$ /armorylite.php?z=cn&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/a$ /armorylite.php?z=cn&p=arena&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/g/(.+)/$ /armorylite.php?z=cn&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/g/(.+)$ /armorylite.php?z=cn&p=guild&r=$1&n=$2&x=$3 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/g/$ /armorylite.php?z=cn&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/g$ /armorylite.php?z=cn&p=guild&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/r/$ /armorylite.php?z=cn&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/r$ /armorylite.php?z=cn&p=rep&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/s/$ /armorylite.php?z=cn&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/s$ /armorylite.php?z=cn&p=skills&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/t/$ /armorylite.php?z=cn&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/t$ /armorylite.php?z=cn&p=talents&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/donate/$ /armorylite.php?z=cn&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/donate$ /armorylite.php?z=cn&p=donate&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/anonymize/$ /armorylite.php?z=cn&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/anonymize$ /armorylite.php?z=cn&p=anonymize&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)/$ /armorylite.php?z=cn&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/(.+)$ /armorylite.php?z=cn&p=main&r=$1&n=$2 [L,QSA,NC]
RewriteRule ^cn/(.+)/$ /gobrowse.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^cn/(.+)$ /gobrowse.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^cn/$ /gobrowse.php?z=cn&r=* [L,QSA,NC]
RewriteRule ^cn$ /gobrowse.php?z=cn&r=* [L,QSA,NC]
RewriteRule ^browse/cn/(.+)/(.+)/(.+)/$ /gobrowse.php?z=cn&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/cn/(.+)/(.+)/(.+)$ /gobrowse.php?z=cn&r=$1&s=$2&o=$3 [L,QSA,NC]
RewriteRule ^browse/cn/(.+)/(.+)/$ /gobrowse.php?z=cn&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/cn/(.+)/(.+)$ /gobrowse.php?z=cn&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^browse/cn/(.+)/$ /gobrowse.php?z=cn&r=$1&s=0 [L,QSA,NC]
RewriteRule ^browse/cn/(.+)$ /gobrowse.php?z=cn&r=$1&s=0 [L,QSA,NC]
RewriteRule ^score/cn/(.+)/(.+)/$ /gearscore.php?z=cn&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/cn/(.+)/(.+)$ /gearscore.php?z=cn&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^score/cn/(.+)/$ /gearscore.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^score/cn/(.+)$ /gearscore.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^score/cn/$ /gearscore.php?z=cn&r=all [L,QSA,NC]
RewriteRule ^score/cn$ /gearscore.php?z=cn&r=all [L,QSA,NC]
RewriteRule ^stats/cn/(.+)/(.+)/$ /gostats.php?z=cn&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/cn/(.+)/(.+)$ /gostats.php?z=cn&r=$1&s=$2 [L,QSA,NC]
RewriteRule ^stats/cn/(.+)/$ /gostats.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^stats/cn/(.+)$ /gostats.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^stats/cn/$ /gostats.php?z=cn&r=all [L,QSA,NC]
RewriteRule ^stats/cn$ /gostats.php?z=cn&r=all [L,QSA,NC]
RewriteRule ^search/cn/(.+)/$ /gosearch.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^search/cn/(.+)$ /gosearch.php?z=cn&r=$1 [L,QSA,NC]
RewriteRule ^search/cn/$ /gosearch.php?z=cn&r=all [L,QSA,NC]
RewriteRule ^search/cn$ /gosearch.php?z=cn&r=all [L,QSA,NC]

RewriteRule ^score/all/all/(.+)/$ /gearscore.php?z=all&r=all&s=$1 [L,QSA,NC]
RewriteRule ^score/all/all/(.+)$ /gearscore.php?z=all&r=all&s=$1 [L,QSA,NC]
RewriteRule ^score/all/$ /gearscore.php?z=all&r=all [L,QSA,NC]
RewriteRule ^score/all$ /gearscore.php?z=all&r=all [L,QSA,NC]
RewriteRule ^score/$ /gearscore.php?z=all&r=all [L,QSA,NC]
RewriteRule ^score$ /gearscore.php?z=all&r=all [L,QSA,NC]

RewriteRule ^stats/all/all/(.+)/$ /gostats.php?z=all&r=all&s=$1 [L,QSA,NC]
RewriteRule ^stats/all/all/(.+)$ /gostats.php?z=all&r=all&s=$1 [L,QSA,NC]
RewriteRule ^stats/all/$ /gostats.php?z=all&r=all [L,QSA,NC]
RewriteRule ^stats/all$ /gostats.php?z=all&r=all [L,QSA,NC]
RewriteRule ^stats/$ /gostats.php?z=all&r=all [L,QSA,NC]
RewriteRule ^stats$ /gostats.php?z=all&r=all [L,QSA,NC]

RewriteRule ^search/all/(.+)/(.+)/$ /gosearch.php?z=all&r=$1&n=$2
RewriteRule ^search/all/(.+)/(.+)$ /gosearch.php?z=all&r=$1&n=$2
RewriteRule ^search/all/(.+)/$ /gosearch.php?z=all&r=$1&n=all
RewriteRule ^search/all/(.+)$ /gosearch.php?z=all&r=$1&n=all

RewriteRule ^my/(.+)$ /saved_profile.php?my=$1 [L,QSA,NC]
RewriteRule ^my/(.+)/$ /saved_profile.php?my=$1 [L,QSA,NC]

RewriteRule ^user/(.+)$ /user.php?n=$1 [L,QSA,NC]
RewriteRule ^user/(.+)/$ /user.php?n=$1 [L,QSA,NC]

RewriteRule ^anon/(.+)/v/$ /armorylite.php?z=xx&p=achieve&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/v$ /armorylite.php?z=xx&p=achieve&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/a/$ /armorylite.php?z=xx&p=arena&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/a$ /armorylite.php?z=xx&p=arena&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/r/$ /armorylite.php?z=xx&p=rep&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/r$ /armorylite.php?z=xx&p=rep&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/s/$ /armorylite.php?z=xx&p=skills&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/s$ /armorylite.php?z=xx&p=skills&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/t/$ /armorylite.php?z=xx&p=talents&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/t$ /armorylite.php?z=xx&p=talents&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)/$ /armorylite.php?z=xx&p=main&r=xx&n=$1 [L,QSA,NC]
RewriteRule ^anon/(.+)$ /armorylite.php?z=xx&p=main&r=xx&n=$1 [L,QSA,NC]

RewriteRule ^arc/(.+)/$ /archive.php?id=$1 [L,QSA,NC]
RewriteRule ^arc/(.+)$ /archive.php?id=$1 [L,QSA,NC]

